body {
    min-height: 3000px;
}

.jumbotron {
    padding-top: 6rem;
    background-color: rgb(231, 171, 255);
}

#Gallery {
    background-color: rgb(231, 171, 255);
}

footer {
    background-color: rgb(231, 171, 255);
}

section {
    padding-top: 5rem;
}